.tooltip {
  background: #f4f4f4;
  border: 1px solid #ddd;
  font-size: 10px;
  padding: 2px 4px;
  z-index: 1000000 !important;
  animation: tooltip 0.2s;
  cursor: default;
  border-radius: 4px;
}

@keyframes tooltip {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
