.infobox {
  border-top: 1px solid hsl(var(--hue), 29%, 67%);
  display: flex;
  flex-direction: column;
}

.label {
  background: hsl(var(--hue), 31%, 94%);
  padding: 5px 8px;
  color: #333;
  font-weight: bold;
  font-size: 11px;
}

.content {
  padding: 10px 8px;
}

.list {
  display: flex;
  flex-direction: column;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 11px;
  cursor: default;

  & > dt {
    color: #777;
  }
}

.summary_list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
