.container {
  display: flex;
  gap: 3px;
}

.label {
  width: 90px;
  font-size: 11px;
  cursor: default;
  height: 24px;

  display: flex;
  justify-content: end;
  align-items: center;
}

.textarea,
.input {
  width: 210px;
  border: 1px solid #bdc7d8;
  font-family: var(--font);
  font-size: 11px;
  padding: 3px;
}
