.container {
  display: flex;
  align-items: center;
  gap: 3px;
}

.label {
  width: 90px;
  text-align: right;
  font-size: 11px;
  cursor: default;
}

.input {
  width: 210px;
  border: 1px solid #bdc7d8;
  font-family: var(--font);
  font-size: 11px;
  padding: 3px;
}
